.Form-contato-content{
    display: grid;
    place-content: center;
    grid-template-areas: 
    "title title"
    "half1 half2";
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
    margin-left: 10%;
}
.title-contato{
    grid-area: 'title';
    grid-row-start: title;
    grid-column-start: title;
    grid-row-end: title;
    grid-column-end: title;
    justify-content: center;
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 30px;
    color: #5c0511;
    text-align: center;
    margin-top: 20px;
    
}
.contact-pic{
    grid-area: 'half1';
    margin-block-start: 0;
    grid-area: half1;
    grid-row-start: half1;
    grid-column-start: half1;
    grid-row-end: half1;
    grid-column-end: half1;
    max-width: 100%;
    align-self: start;
    object-fit: cover;
    max-height: 100%;
    width: 100%;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form{
    grid-area: half2;
    grid-row-start: half2;
    grid-column-start: half2;
    grid-row-end: half2;
    grid-column-end: half2;
    align-self: start;
    display: block;
    width: 100%;
}
.formTitle{
    display: block;
    font-size: 18px;
    font-family: var(--title-font);
    font-weight: 700;
    margin-bottom: 10px;
}
.inputBox{
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgba(92,5,17,.4);
    border-top-color: rgba(92, 5, 17, 0.4);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(92, 5, 17, 0.4);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(92, 5, 17, 0.4);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(92, 5, 17, 0.4);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 18px;
    color: #101010;
    font-family: var(--body-font);
}
.textAreaBox{
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: 1px solid rgba(92,5,17,.4);
    border-top-color: rgba(92, 5, 17, 0.4);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(92, 5, 17, 0.4);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(92, 5, 17, 0.4);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(92, 5, 17, 0.4);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 18px;
    font-family: var(--body-font);
    color: #101010;
}
.item-form-btn{
    display: grid;
    grid-template-areas: "esq dir";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
    margin-top: 10px;
}
.btn-contact{
    grid-area: 'dir';
}