.Footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    place-content: center;
    
    
}
.pFooter{
    font-family: var(--body-font);
    font-size: 14px;
    color: #101010;
    font-weight: 700;
}