.sobreGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
    width: 80%;
    justify-self: center;
    grid-template-areas:
    "title title"
    "half1 half2";  
}
.titleSobre{
    grid-area: 'title';
    grid-row-start: title;
    grid-column-start: title;
    grid-row-end: title;
    grid-column-end: title;
    justify-content: center;
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 30px;
    color: #5c0511;
    text-align: center;
    margin-top: 20px;
}
.imageSobre{
    grid-area: 'half1';
    max-width: 100%;
    align-self: start;
    object-fit: cover;
    max-height: 400px;
    width: 550px;
    border-radius: 5px
}
.textSobre{
    grid-area: 'half2';
    font-family: var(--body-font);
    color: #101010;
    font-size: 18px;
}